@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('./fonts/PT_Sans/PTSans-Regular.ttf');
  src: url('./fonts/PT_Sans/PTSans-Italic.ttf');
  src: url('./fonts/PT_Sans/PTSans-Bold.ttf');
  src: url('./fonts/PT_Sans/PTSans-BoldItalic.ttf');
}
:root{
  background-color: #34495E;
}
body {
  background-color: #34495E;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
