.supportCustomer {
    max-width: initial !important;
    min-height: 99.9vh !important;
    min-width: 99.9vh !important;
    font-family: adobe-caslon-pro, serif;
    background-image: url("../../images/fondoadmin.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo {
    height: 7rem !important;
    margin-bottom: 3rem;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title > h1 {
    font-size: 2.3rem !important;
  }
  .col-button-close {
    display: flex;
    justify-content: space-around !important;
    align-items: center !important;
  }
  .button-inicio {
    font-size: 1.5rem !important;
    color: #000000 !important;
  }
  .button-close {
    height: 3rem;
    width: 10rem;
    font-size: 1.3rem !important;
    background-color: #fee663 !important;
    color: #000000 !important;
    border-radius: 2rem !important;
    border-color: #fee663 !important;
  }
  .add-customer {
    width: 12rem;
  }
  .icon-plus {
    color: #62b01e !important;
  }
  .icon-trash {
    color: #8594a0 !important;
  }
  .table-customers {
    justify-content: center;
    background-color: #ffffff !important;
  }
  .img-customer {
    height: 10.38rem !important;
    padding: 1rem;
  }
  /* .justify-content-md{
      margin-top: 5rem !important;
  } */
  @media (max-width: 47.938rem){
      .logo{
          display: none;
      }
  }